body{
  background-color: black;
}
header{
  width: inherit;
  height: 200px;
  margin: 0 300px;

}
a{
  background-color: #fff;
  width: 400px;
  height: inherit;
  margin: auto;
}
header img{
  width: 30%;
  height: 50%;
  margin: 0 250px;
}
article{
  width: inherit;
  height: 200px;
}
article img {
  width: 50%;
  height: 80%;
  margin: 0 300px;
}
