body{
  background-color: black;
}
section{
  background-color: #888;
  width: 1000px;
  height: 200px;
  margin: auto;
}
a{
  background-color: #fff;
  width: 400px;
  height: inherit;
  margin: auto;
}
